*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin-bottom: 30px;
}

li{
    list-style: none;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 5px;
    margin-left: 0;
    display: inline-block;
}

h1{
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}

body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
    margin-bottom: 50px;
}

.logo{
    vertical-align: middle;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.contenitore{
    width: 70%;
    margin: auto;
    background-color: #F6F8F9;
}

main{
    background-color: white;
    margin-top: 3px;
    border-radius: 6px;
}

.nav{
    height: 55px;
    background-color: white;
    padding-left: 58px;
    padding-top: 15px;
    border-radius: 6px;
}

.bt-nav1{
    border-radius: 6px;
    color: white;
    background-color: rgb(35, 144, 245);
    border-color: rgb(35, 144, 245);
    border-style: solid;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;

}

.bt-nav2{
    border-radius: 6px;
    color: lightgray;
    background-color: white;
    border-color: lightgray;
    border-style: solid;
    height: 30px;
    padding-left: 7px;
    padding-right: 8px;
}

.contenitore-2{
    background-color: white;
    padding: 40px 58px;
}

.section{
    font-weight: bold;
    font-size: large;
}

.check{
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px 3px;
    color: green;
    font-size: 10px;
    margin-right: 10px;
}

.x{
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 3px;
    color: red;
    font-size: 10px;
    margin-right: 10px;
}
